<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="binaryclockproject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <binaryclockproject.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="borderStyle" serializeAs="String">
                <value>FixedToolWindow</value>
            </setting>
            <setting name="hourColor" serializeAs="String">
                <value>Chartreuse</value>
            </setting>
            <setting name="minuteColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="secondColor" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="falseColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="opacity" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="backgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </binaryclockproject.Properties.Settings>
    </userSettings>
</configuration>